@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  font-family: Montserrat;
}
.App{
  width: 1090px;
  margin: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  
}
.main_title{
  display: flex;
  width: 1090px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.title_create{
  width: 278px;
height: 48px;
line-height: 48px;
background: rgba(247, 238, 85, 1);
text-align: center;
padding: 13px, 24px, 13px, 24px;
border-radius: 10px;

background: rgba(247, 238, 85, 1);

border: 1px solid rgba(0, 0, 0, 1)

}
img {
  width: 23px;
  height: 23px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.no-border-left{
  border-left: none;
  width: 40px;
}
.no-border-right{
  border-right: none;
  width: 40px;
}
.mainPage{
  margin-top: 100px;
}
.edit-page,
.create-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
.edit-page h2,
.create-page h2 {
  margin-bottom: 50px;
}
.edit-page .form-row,
.create-page .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.edit-page .form-row input[type="text"],
.create-page .form-row input[type="text"]{
  width: 500px;
  height: 36px;
}
.edit-page .form-row select,
.create-page .form-row select{
width: 508px;
height: 36px;
}
.edit-page .form-row textarea,
.create-page .form-row textarea{
width: 503px;
height:95px;

}
.edit-page .buttons,
.create-page .buttons {
  width: 420px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  margin-top: 50px;
}
.create-page .buttons{
  width: 260px;
}
.edit-page button, 
.create-page button {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(247, 238, 85, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: black;
}

.edit-page button[type="button"],
.create-page button[type="button"] {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: white;

}
.edit-page button:hover 
.create-page button:hover {
  opacity: 0.9;
}
.buttons button{

  height: 48px;
  font-size: 18px;
  font-weight: 600;
}
.edit-page .no-border-right,
.edit-page .no-border-left
.create-page .no-border-right,
.create-page .no-border-left {
  border: none;
}
.edit-page input[type="checkbox"],
.create-page input[type="checkbox"] {
margin-right: 470px;
  width: 24px;
  height: 24px;

}
.edit-page .buttons button:first-child {
  background: rgba(218, 21, 21, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: white;
}
.title_create{
  cursor: pointer;
}
